# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/build
/public/build

# dependencies
/node_modules

# IDEs and editors
*.sublime-project
*.sublime-workspace

# misc
npm-debug.log
